<div class="container-fluid">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Place an Id or just press search" [(ngModel)]="id" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="getById()">Search</button>
    </div>
  </div>

<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th>#Id</th>
      <th class="col-md-5 col-xs-5">Name</th>
      <th class="col-md-4 col-xs-4">contractTypeName</th>
      <th class="col-md-3 col-xs-3">roleId</th>
      <th class="col-md-3 col-xs-3">roleName</th>
      <th class="col-md-3 col-xs-3">roleDescription</th>
      <th class="col-md-3 col-xs-3">hourlySalary</th>
      <th class="col-md-3 col-xs-3">monthlySalary</th>
      <th class="col-md-3 col-xs-3">YearSalary</th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <th scope="row">{{employee.id}}</th>
      <td>{{employee.name}}</td>
      <td>{{employee.contractTypeName}}</td>
      <td>{{employee.roleId}}</td>
      <td>{{employee.roleName}}</td>
      <td>{{employee.roleDescription}}</td>
      <td>{{employee.hourlySalary}}</td>
      <td>{{employee.monthlySalary}}</td>
      <td>{{employee.annualSalary}}</td>

    </tr>
    
  </tbody>
</table>
</div>